<form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="employeeService.selectedEmployee.$key">
  <div class="form-group full-width">
    <label>Name: </label>
    <input name="name" class="form-control" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name" placeholder="Full Name" required/>
  </div>
  <div class="form-group full-width">
    <input name="position" class="form-control" #position="ngModel" [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Position" required/>
  </div>

  <div class="form-group full-width">
    <input name="office" class="form-control" #office="ngModel" [(ngModel)]="employeeService.selectedEmployee.office" placeholder="Office" required/>
  </div>

  <div class="form-group">
    <label>Salary</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fas fa-dollar-sign"></i>
      </div>
      <input type="number" class="form-control" name="salary" #salary="ngModel" [(ngModel)]="employeeService.selectedEmployee.salary" placeholder="Salary" required/>
    </div>
  </div>
  <div class="form-group">
    <button mat-raised-button color="primary" type="submit" [disabled]="!employeeForm.valid">Submit</button>
    &nbsp;&nbsp;
    <button mat-raised-button color="warn" type="reset" (click)="resetForm(employeeForm)">Reset</button>
  </div>
</form>
